<div class="article">
  <h1 class="title"><%= @article.title %></h1>
  <div class="article-metadata">
    <span class="date"><%= @article.formatted_created_at %></span>
    <span class="author"><%= @article.user.name %></span>
  </div>
  <div class="description"><%= @article.description %></div>
  <hr>
  <div class="article-meat">
    <div class="body"><%= @article.body %></div>
    <div class="categories">
      <% @article.categories.each do |category| %>
          <span class="category_#{category.id}"><%= category.name %></span>
      <% end %>
    </div>
  </div>
</div>
